.generalContainer {
    height: 100vh;
    background: rgb(131,58,180);
    background: linear-gradient(124deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.732913148169424) 80%, rgb(252, 182, 69) 100%); 
}
form {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: rgb(75, 75, 75);
}

fieldset {
    border-radius: .3rem;
    background-color: rgba(77, 77, 77, 0.351);
    border-color: rgb(90, 90, 90);
}
/* Left Container */
.leftContainer {
    width: 35%;
    height: 40rem;
    border: 3px solid rgb(98, 98, 98);
    border-radius: 1rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, 0.323);
}
.leftContainer div:first-child {
    height: 4.5rem;
}
.leftContainer div:nth-child(2) {
    height: 4.5rem;
}
.leftContainer div:nth-child(3) {
    height: 4.5rem;
}

.leftContainer div {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}
.leftContainerInput input {
    color: rgb(255, 255, 255);
    min-height: 1.5rem;
    border-radius: .3rem;
    background-color: rgba(73, 73, 73, 0.351);
    border-color: rgb(90, 90, 90);
    outline: none;
}
.leftContainerInput label {
    font-size: 1.2rem;
    color: white;
}
.genresField {
    width: 28rem;
    height: 20rem;
    align-items: baseline;
    padding: 1rem 10px;
}
.genresField legend {
    margin-top: .5rem;
    color: whitesmoke;
}
.checkListGenres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 19rem !important;
    width: 2rem;
    color: whitesmoke;
}
/* Center Container */
.centerContainer {
    width: 35%;
    height: 40rem;
    border: 3px solid rgb(98, 98, 98);
    border-radius: 1rem;
    padding: 0 .5rem;
    margin-left: 1rem;
    background-color: rgba(0, 0, 0, 0.323);
}
.centerContainer label {
    color: whitesmoke;
}
.centerContainer div {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}
.centerContainer div:first-child {
    height: 4.5rem;
}
.centerContainer div:nth-child(2) {
    height: 10rem;
}
.centerContainerInput input {
    color: rgb(255, 255, 255);
    background-color: rgb(73, 73, 73, 0.351);
    border-radius: .3rem;
    min-height: 1.5rem;
    border-color: rgb(90, 90, 90);
    outline: none;
}
.centerContainerInput label {
    font-size: 1.2rem;
}
textarea {
    color: rgb(255, 255, 255);
    background-color: rgb(73, 73, 73, 0.351);
    min-height: 6.4rem;
    max-height: 6.4rem;
    min-width: 98.2%;
    max-width: 98.2%;
    border-radius: .3rem;
    outline: none;
    border-color: rgb(90, 90, 90);
}
.checkListPlatform {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 18.7rem !important;
    width: 28rem;
    color: whitesmoke;
}
.platformsChecklistContainer {
    margin-top: 0 !important;
}
.platformsChecklistContainer legend {
    color: whitesmoke;
}
/* Right Container */
.rightContainer {
    width: 30%;
    justify-content: center;
}
.previewContainer {
    margin: 0 auto;
    padding-top: 5rem;
    padding-left: 1.4rem;
}
.rightContainer button {
    width: 14rem;
    margin-left: 7rem;
    position: relative;
    bottom: 2.5rem;
}
.checkListGenres p, .checkListPlatform p {
    display: flex;
    width: 7rem;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    margin: 3px 0;
    font-size: small;
}

.checkListGenres input, .checkListPlatform input {
    width: 1rem;
}



/* Errores */

.errors_label {
    right:  1.1em;
    margin-top: .2em;
    width: 100%;
    font-size: 13px !important;
    color: rgb(255, 111, 0) !important;

  }
  
  .errors {


 
  }
  .submitDis {
    display: none;
  }
  .submit {
    display: block;
    height: 3rem;
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.503);
    color: whitesmoke;
    font-size: large;
    border-radius: 1.5rem;
    transition: all .3s ease-in;
  }
  .submit:hover {
    cursor: pointer;
    scale: 110%;
  }

  