.generalContainer {
    color: rgb(93, 93, 93);
}
.formContainer {
    margin-top: 0rem;
    display: flex;
    padding-bottom: 3rem;
    border: 2px solid red;
    justify-content: center;
}
.formContainer form {
    padding-left: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.formContainer select {
    width: 30.5rem;
}
.formContainer input {
    width: 30rem;
}
.formContainer label {
    margin-top: 1rem;
}
.genPlatContainer {
    display: flex;
    height: 22rem;
}
.platformsChecklistContainer {
    position: relative;
    top: -18.3rem;
}
.checkListGenres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 18rem;
    width: 20rem;
}
.checkListPlatform {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 37.3rem;
    width: 30rem;

}

.genresField {
    width: 29rem;
    align-items: baseline;
    padding: 1rem 10px;
}
.checkListGenres p, .checkListPlatform p {
    display: flex;
    width: 10rem;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    margin: 10px 0;
    font-size: small;
}
.checkListGenres input, .checkListPlatform input {
    width: 1rem;
}
.platformsField .platformField{
    height: 30rem;
}
.previewContainer {
    margin: 0 auto;
    padding-top: 10rem;
}

/* Errores */

.errors_label {
    right:  1.1em;
    margin-top: 1em;
    font-size: 10px;
    color: rgb(246, 78, 255);
    font-weight: bold;
  }
  
  .errors {
    border: rgb(246, 78, 255) solid 2px;
    color: rgb(246, 78, 255);
  }
  .submitDis {
    display: none;
  }
  .submit {
    display: block;
    margin-top: 1.5rem;
    height: 3rem;
    width: 62.2rem;
  }