.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "title title title title"
      "image image info info"
      "description description description description";
     
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode:color-dodge
  }
  
  .title {
    justify-self: center;
    align-self: center;
    grid-area: title;
    width: 40rem;
  }
  .title img{
  
    width: 100%;
  }
  
  .image { 
    justify-self: center;
    grid-area: image; 
    width: 40rem;
    height: 30rem;
  
}
.image img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
}
  
.info {
  display: grid; 
  color: white;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "gameTitle gameTitle gameTitle"
    "rating rating rating"
    "released released released"
    "platforms platforms platforms"
    "genres genres genres"; 
  grid-area: info; 
}
  
  .gameTitle { grid-area: gameTitle; }
  
  .rating { grid-area: rating; }
  
  .released { grid-area: released; }
  
  .platforms { grid-area: platforms; }
  .platformsList{
    display: flex;
    flex-wrap: wrap;
  }
  .platformsList p {
    margin: 0 1rem;
  }
  
  .genres { grid-area: genres; }
  .genresList {
    display: flex;
    flex-wrap: wrap;
  }
  .genresList p {
    margin: 0 1rem;
  }
  
  .description { 
    grid-area: description; 
    color: rgb(201, 201, 201);
}
  