.design {
	text-align: center;
}

.design:before,
.design:after {
	content: '';
	display: block;	
	left: 50%;
	margin: 0 0 0 -400px;
	position: absolute;

}

.design:before {



}

.design:after {

	background: linear-gradient(left, #15151500, rgba(0, 0, 0, 0), #15151500);	
	
}

.design form {

	background: linear-gradient(#1b1b1b00, rgba(17, 17, 17, 0));

	border-radius: 10px;

	display: inline-block;
	font-size: 0px;
	margin: 150px auto 0;
	padding: 20px;
	position: relative;
	z-index: 1;
}

.design input {

	background: linear-gradient(rgba(51, 51, 51, 0), rgba(34, 34, 34, 0));	
	border: 3px solid rgb(68, 68, 68);
	border-radius: 30px;
	color: rgb(255, 255, 255);
	display: block;
	float: left;
    box-shadow: 0 .3rem 2rem -.36rem rgb(224, 121, 253);
	font-size: 15px;
	font-weight: 400;
	height: 30px;
	margin: 0;
	padding: 0 15px;

	width: 300px;
}

.ie .design input {

}

.design input::-webkit-input-placeholder {
   color: rgb(221, 221, 221);
}

.design input:-moz-placeholder {
   color: rgb(186, 186, 186);
}

.design input:focus {
	animation: glow 800ms ease-out infinite alternate;

	background: linear-gradient(#33393900, #22292900);
	border-color: rgb(51, 124, 153);
	box-shadow: 0 0 5px rgba(26, 119, 121, 0.2), inset 0 0 5px rgba(30, 148, 156, 0.1), 0 2px 0 rgba(0, 0, 0, 0);
	color: rgb(238, 252, 255);
	outline: none;
}

.design input:focus::-webkit-input-placeholder { 
	color: rgb(20, 145, 177);
}

.design input:focus:-moz-placeholder {
	color: #efe;
}

.design button {

	background: linear-gradient(rgb(51, 51, 51), rgb(82, 82, 82));

	border: 3px solid rgb(68, 68, 68);

	border-radius: 20px;
    box-shadow: 0 .3rem 2rem -.36rem rgb(224, 121, 253);
	color: rgb(232, 232, 232);
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	height: 32px;

	margin: 0 1rem;
	padding: 0;
	position: relative;

	width: 80px;
}	

.design button:hover,
.design button:focus {

	background: linear-gradient(#252525, #29292900);
	color: rgb(85, 215, 255);
	outline: none;
}

.design button:active {




    border-radius: 5px;
}

@keyframes glow {
    0% {
		border-color: rgb(51, 133, 153);
		box-shadow: 0 0 5px rgba(0, 217, 255, 0.2), inset 0 0 5px rgba(0, 225, 255, 0.1), 0 2px 0 rgba(0, 0, 0, 0);
    }	
    100% {
		border-color: rgb(102, 222, 255);
		box-shadow: 0 0 20px rgba(0, 229, 255, 0.6), inset 0 0 10px rgba(0, 225, 255, 0.4), 0 2px 0 rgba(0, 0, 0, 0);
    }
}
