

.nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(56, 61, 61);
    
}

.topNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 16rem;
    height: 4rem;

}
input {
    width: 20rem;
}
.search {
    box-shadow: 0 .3rem 2rem -.26rem rgb(224, 121, 253);
}

.title {
    cursor: pointer;
    color: gainsboro;
}
.displayNone {
    display: none;

}
.bottom-nav {
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgb(68, 68, 68);
    padding: .7rem 0;
    width: 100%;
    box-shadow: 0rem 10px 20px -1px;
    
}


select {
    width: 10rem;
}
.sort {
    margin-left: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.create{
    width: 16rem;
    height: 4rem;

}
.create img{
    width: 100%;
}

