

.nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(56, 61, 61);
    
}

.topNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 16rem;
    height: 4rem;

}
input {
    width: 20rem;
}
.search {
    box-shadow: 0 .3rem 2rem -.26rem rgb(224, 121, 253);
}

.title {
    cursor: pointer;
    color: gainsboro;
}
.displayNone {
    display: none;

}


.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(68, 68, 68);
    padding: 10px 0rem;
    width: 100%;
    box-shadow: 0rem 10px 20px -1px;
    
}
.bottom-nav p{
    margin: 0;
    margin-bottom: .3rem;
    color: aliceblue;
    font-size: .8rem;
}
.bottom-nav div {
    margin: 0 1rem;
}

.custom-select {
    display: flex;
  
}

.bottom-nav select {
    width: 10rem;
    background-color: rgba(68, 68, 68, 0.799);
    border:1px rgb(143, 143, 143) solid;
    border-radius: 10px;
    color: rgb(216, 216, 216);
    align-items: center;
    text-align: center;
}


.create{
    width: 16rem;
    height: 4rem;

}
.create img{
    width: 100%;
}

